@font-face {
    font-family: "Rubik Regular";
    src: url(../fonts/static/Rubik-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: "Rubik Regular Italic";
    src: url(../fonts/static/Rubik-Italic.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: "Rubik Medium";
    src: url(../fonts/static/Rubik-Medium.ttf) format(truetype);
    font-weight: 500;
}